<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
    <h1><strong>Team Name: <%=@name%></strong></h1>
    <h1><strong>Coach: <%=@coach%></strong></h1>
    <h1><strong>Point Guard: <%=@pg%></strong></h1>
    <h1><strong>Shooting Guard: <%=@sg%></strong></h1>
    <h1><strong>Small Forward: <%=@sf%></strong></h1>
    <h1><strong>Power Forward: <%=@pf%></strong></h1>
    <h1><strong>Center: <%=@c%></strong></h2>
 </body>
</html>


