<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
    <h1>Team Name: <%=@teamname%> </h1>
    Coach: <%= @coach %>
    Point Guard: <%= @pointguard %>
    Shooting Guard: <%=  @shootingguard%>
    Small Forward: <%= @smallforward %>
    Power Forward: <%= @powerforward %>
    Center: <%= @center %> %>


 </body>
</html>


